@model IEnumerable<Institucion>
@*@{
        Layout = null;
    }*@

@section Styles {
    <link rel="stylesheet" href="~/lib/dataTables/datatables.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />

    <style>
        #tbl_wrapper {
            font-family: 'Open Sans';
            font-size: 16px;
            font-weight: 300;
        }

        .fa-trash-can,
        .fa-brands {
            color: tomato;
            font-size: 18px;
        }
    </style>

}

<p>
    <a id="btnAdd" asp-action="Add" class="btn btn-outline-primary" >Add Institution</a>
</p>
<hr />
<table id="tbl">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstitucionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InstitucionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td align="center">
                    <a title="Delete" href="/" onclick='return confirm("Seguro quieres borrar?");'>
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/lib/DataTables/datatables.js"></script>
<script src="~/jquery-loading-overlay/loadingoverlay.js"></script>

<script>
    $(function (e) {
        $('#tbl').LoadingOverlay('show');
        $('#tbl').DataTable({
            lengthMenu: [
                [4, -1],
                [4, 'All']
            ],
            language: {
                search: 'Buscar'
            },
            sorts: [0, 1, 2]
        });
        $('#tbl').LoadingOverlay('hide');


        $("#btnAdd").on("click", function(e) {
            e.preventDefault();

            $("#staticBackdrop").modal('show');

        });

        var myModalEl = document.getElementById('staticBackdrop')
        myModalEl.addEventListener('hidden.bs.modal', function (event) {
            $("#staticBackdrop").dispose();
        })


    }); // loaded main function
</script>
}
